Django>=5.0
djangorestframework
django-filter
django-environ
django-cors-headers
psycopg[binary]
djangorestframework-simplejwt
celery[redis]
channels
django-redis
django-allauth
dj-rest-auth
drf-spectacular
sentry-sdk
cryptography
gunicorn
uvicorn[standard]
whitenoise